/*!
 * Copyright (c). 2016. WordPressGeek. All rights reserved.
 */

.testimonial {

	background: $brand-primary url("../images/bg-bw.jpg") no-repeat center fixed;

	//background: #545454 url("../images/logo-bg.png");
	margin-bottom: 0;
	padding: 80px 0 160px 0;
	.testimonials {
		max-width: 80%;
		margin: 0 auto;
		padding: 25px 0px;
		//background: #fff;
		position: relative;
		z-index: 2000;
		color:#fff;
	}
	h2 {
		margin-bottom: 40px;
		margin-top: 0;
		font-size: 2.7rem;
		color:#fff;
	}
	p {
		font-size: 1.6rem;
		line-height: 2em;
		margin-bottom: 40px;
		margin-top: 0;
		font-weight: 300;
	}
	span {
		font-size: 1.4rem;
		font-weight: 700;
		display: block;
		color: $brand-primary;
	}
	.slick-dots {
		position: absolute;
		top: 120%;
		transform: translateY(0%);
		width: 100%;
		left: 0;
		right: 0;
		li {
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0 10px;
			button {
				&:before {
					position: absolute;
					top: 50%;
					left: 50%;
					content: '';
					background: #fff;
					border-radius: 20px;
					width: 10px;
					height: 10px;
					line-height: 10px;
					text-align: center;
					opacity: 1;
					margin-left: -5px;
					margin-top: -5px;

				}
			}
			&.slick-active {
				button {
					border: 2px solid $brand-primary;
					&:before {
						background: $brand-primary;
					}
				}
			}
		}
	}
	/* Arrows */
	.slick-prev,
	.slick-next {
		position: absolute;
		display: block;
		height: 70px;
		width: 50px;
		line-height: 0px;
		font-size: 0px;
		cursor: pointer;
		background: transparent;
		top: 50%;
		transform: translate(0, -50%);
		padding: 0;
		border: none;
		outline: none;
		color: #fff;
		&:hover, &:focus {
			outline: none;
			color: #fff;
		}
		&:before {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			font-family: Linearicons-Free;
			speak: none;
			font-style: normal;
			font-weight: 400;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			font-size: 60px;
		}
	}

	.slick-prev {
		left: -150px;
		&:before {
			content: '\e875';
		}
	}

	.slick-next {
		right: -150px;
		&:before {
			content: "\e876";
		}
	}
}
