.about {

  background: #642B73;
  background: linear-gradient(to bottom right, #C6426E, #642B73);
  color: #fff;
  margin-top: 40px;
  padding: 100px 0 20px 0;
  position: relative;
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
    margin-top: 300px;
    margin-bottom: 150px;
    padding: 125px 0;

  }

  h1 {

    font-size: 22px;
    letter-spacing: 2px;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      letter-spacing: 5px;
    }
  }

  h1, a {
    color: #fff;
  }

  &__image {
    width: 1500px;
    height: 500px;
    position: absolute;
    border-radius: 500px;
    background: $color-1;
    display: block;
    overflow: hidden;
    transform: rotate(-45deg);
    left: 50%;
    top: -10%;

    > div {
      width: 170%;
      height: 247%;
      transform: rotate(45deg);
      background: url(../images/intro-bg.jpg) center no-repeat;
      background-size: cover;
      position: absolute;
      top: auto;
      left: auto;
      bottom: -100%;
      right: -60%;
    }
    @include media-breakpoint-down(sm) {
      display: block;
      width: 110%;
      height: 100%;
      position: absolute;
      border-radius: 0px;
      background: none;
      overflow: hidden;
      transform: rotate(0deg);
      left: 0 !important;
      top: 0 !important;
      margin-left: -5%;
      margin-right: -5%;
      background: $gradient-1;

      > div {
        width: 500%;
        height: 100%;
        background: url(../images/intro-bg.jpg) center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -92%;
        bottom: 0;
        right: 0;
        display: block;
        transform: rotate(0deg) translate(0%, 0%) !important;
        opacity: 0.15;

      }

    }

  }

  &__container {
    @extend .container-fluid;

    @include media-breakpoint-down(lg) {
      padding: 0 30px !important;
    }
  }

  &__row {
    @include make-row();
  }

  &__content {

    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(6);

    }
  }

  .edge {
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    display: block;
    height: 150px;
    position: absolute;
    top: -110px;
    left: -5%;
    right: -5%;
    z-index: -1;
  }

}