

.contact {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 80px 0 0px 0;
  padding-top: 150px;
  padding-bottom: 150px;
//background: $gradient-1;
  position: relative;

  > .edge {
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    display: block;
    height: 150px;
    position: absolute;
    top: -75px;
    left: -5%;
    right: -5%;
    z-index: 102;
  }

  .bubble {
    width: 1500px;
    height: 250px;
    position: absolute;
    border-radius: 150px;
    background: $color-1;
    display: block;
    z-index: 2;
    &.bubble-1 {
      transform: rotate(45deg);
      left: -65%;
      top: -50%;
    }
    &.bubble-2 {
      transform: rotate(-45deg);
      left: 50%;
      top: -40%;

    }
  }

  h1 {
    margin-bottom: 60px;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 22px;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      letter-spacing: 5px;

    }
    i {
      display: block;
      text-align: center;
      margin-bottom: 40px;
      font-size: 60px;
      margin-top: 20px;
    }
  }
}
.contact-details {

  position: relative;
  z-index: 101;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 100 !important;

  > span, a {
    display: inline-block;
    max-width: 50%;
    color: #fff;
    margin: 30px 30px 40px 30px;
    cursor: pointer;
    span {
      display: block;
      font-size: 16px;
    }
  }

  i {
    font-size: 40px;
    color: #fff;
    font-weight: 100 !important;
    display: block;
  }

}

form {
  position: relative;
  top: 00px;
  display: none;
  margin-bottom: 40px;
}

.form-trigger {
  position: fixed;
  top: 12px;
  right: -200px;
  margin-left: -50px;
  z-index: 10002;
  height: 50px;
  line-height: 50px;
  background: $color-1;
  color: #fff;
  display: block;
  min-width: 250px;
  border: 1px solid lighten($color-1, 5%);
  i {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 26px;
  }
  &:hover {
    right:0;
    color: #fff;
    text-decoration: none;
    background: darken($color-1, 10%);
  }
  &.form-trigger--book {
    top: 70px;
  }
  @media screen and (max-width: $screen-sm-min - 1){
    top:100%;
    margin-top:-50px;
    left: 0;
    right:0;
    width: 100%;
    max-width: 50%;
    margin-left: 0;
    min-width: 0;
    text-align: center;
    span {
      display: none;
    }
    &.form-trigger--book {
      top: 100%;
      left:50%;
      background: darken($color-1, 5%);

    }
  }
}

.form-fixed {
  position: fixed;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  top:50%;
  z-index: 1000003;
  background: #fff;
  padding:25px;
  display: none;
  opacity: 0;
  box-shadow: 0 0 20px rgba(33,33,33,0.5);
  legend {
    border:none;
  }
  &.open {
    display: block;
    opacity:1;
  }
}
.form-fixed--close {
  position: absolute;
  z-index: 1000004;
  top:10px;
  right:10px;
  display: inline-block;
  color: #333;
}



.contact-form {
  padding: 1em 0.5em;
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard,
.tabcontrol {
  padding:0;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
  margin: 0px auto 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.wizard a,
.tabcontrol a {
  outline: 0;
}

.wizard ul,
.tabcontrol ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li {
  display: block;
  padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
  position: absolute;
  left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title {
  position: absolute;
  left: -999em;
}

/*
    Wizard
*/

.wizard > .steps {
  position: relative;
  display: block;
  width: 100%;
}

.wizard.vertical > .steps {
  display: inline;
  float: left;
  width: 33.33333%;
}

.wizard > .steps .number {
  font-size: 1.429em;
}

.wizard > .steps > ul > li {
  width: 33.3333333%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
  float: left;
}

.wizard.vertical > .steps > ul > li {
  float: none;
  width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
  background: #eee;
  color: #aaa;
  cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
  background: $color-2;
  color: #fff;
  cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
  background: lighten($color-1, 25%);
  color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
  background: #ff3111;
  color: #fff;
}

.wizard > .content {

  display: block;
  min-height: 215px;
  overflow: hidden;
  position: relative;
  width: auto;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard.vertical > .content {
  display: inline;
  float: left;
  margin: 0 2.5% 0.5em 2.5%;
  width: 65%;
}

.wizard > .content > .body {
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px 9px 0 9px;
}

.wizard > .content > .body ul {
  list-style: disc !important;
}

.wizard > .content > .body ul > li {
  display: list-item;
}

.wizard > .content > .body > iframe {
  border: 0 none;
  width: 100%;
  height: 100%;
}
.wizard > .content > .body label {
  display: none !important;
}
.wizard > .content > .body input {
  display: block;
  max-width: 100%;
  padding: 20px 25px;
  background: #cfcfcf;
  width: 100%;
  margin-bottom: 30px;
  border: 0px solid #ccc;
}
.wizard > .content > .body textarea {
  display: block;
  max-width: 100%;
  padding: 20px 25px;
  margin-bottom: 30px;
  background: #cfcfcf;
  width: 100%;
  min-height: 150px;
  border: 0px solid #ccc;
}
.wizard > .content > .body input[type="checkbox"] {
  display: inline-block;
}

.wizard > .content > .body input.error {
  background: rgb(251, 227, 228);
  border: 1px solid #fbc2c4;
  color: #8a1f11;
}

.wizard > .content > .body label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.wizard > .content > .body label.error {
  color: #8a1f11;
  display: inline-block;
  margin-left: 1.5em;
}

.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}

.wizard.vertical > .actions {
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%;
}

.wizard > .actions > ul {
  display: inline-block;
  text-align: right;
}

.wizard > .actions > ul > li {
  margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li {
  margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background: $color-1;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
  background: #eee;
  color: #aaa;
}

.wizard > .loading {
}

.wizard > .loading .spinner {
}

/*
    Tabcontrol
*/

.tabcontrol > .steps {
  position: relative;
  display: block;
  width: 100%;
}

.tabcontrol > .steps > ul {
  position: relative;
  margin: 6px 0 0 0;
  top: 1px;
  z-index: 1;
}

.tabcontrol > .steps > ul > li {
  float: left;
  margin: 5px 2px 0 0;
  padding: 1px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover {
  background: #edecec;
  border: 1px solid #bbb;
  padding: 0;
}

.tabcontrol > .steps > ul > li.current {
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 0 none;
  padding: 0 0 1px 0;
  margin-top: 0;
}

.tabcontrol > .steps > ul > li > a {
  color: #5f5f5f;
  display: inline-block;
  border: 0 none;
  margin: 0;
  padding: 10px 30px;
  text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover {
  text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a {
  padding: 15px 30px 10px 30px;
}

.tabcontrol > .content {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35em;
  overflow: hidden;
  border-top: 1px solid #bbb;
  padding-top: 20px;
}

.tabcontrol > .content > .body {
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.tabcontrol > .content > .body ul {
  list-style: disc !important;
}

.tabcontrol > .content > .body ul > li {
  display: list-item;
}