.scroll-top {
  //position: fixed;
  z-index: 1001;
  position: relative;
  display: block;
  width: 51px;
  height: 64px;
  line-height: 64px;
  background: $color-1;
  color: #fff;
  text-align: center;
  //bottom: 30px;
  //right: 30px;
  border-radius: 5px !important;

  //opacity: 0;

  @media screen and (max-width: $screen-sm-min - 1) {
    height: 40px;
    width: 25px;
    line-height: 40px;
  }

  span {
    display: block;
    width: 51px;
    height: 64px;
    line-height: 64px;
    color: #fff;

    @media screen and (max-width: $screen-sm-min - 1) {
      height: 40px;
      width: 25px;
      line-height: 40px;
    }

  }
  &.active {
    opacity: 1;
  }

}

.fb-like {
  //position: fixed !important;
  z-index: 1001 !important;
  //bottom: 30px !important;
  //background: #fff;
  padding: 0px;
  border-radius: 5px !important;
  display: inline-block !important;

  //right: 101px !important;
  @media screen and (max-width: $screen-sm-min - 1) {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

.skype-button {
  position: relative !important;
  z-index: 1001 !important;
  bottom: 0px !important;
  right: 0px !important;
  display: inline-block;
  width: 51px;
  height: 64px;
  line-height: 64px;
  text-align: center;

  @media screen and (max-width: $screen-sm-min - 1) {
    height: 40px;
    width: 25px;
    line-height: 40px;
  }

}

.bubble .lwc-chat-button {
  position: relative !important;
  left: auto !important;
  right: auto !important;
  top: auto !important;
  bottom: auto !important;
  width: 51px !important;
  height: 64px !important;
  border-radius: 5px !important;

  @media screen and (max-width: $screen-sm-min - 1) {
    height: 40px !important;
    width: 25px !important;
  }
}

.bubble .lwc-button-icon {
  padding: 0 13px !important;
  width: 25px !important;

  @media screen and (max-width: $screen-sm-min - 1) {
    padding: 0 5px !important;
    width: 15px !important;
  }
}

.footer-actions {
  position: fixed !important;
  z-index: 1001 !important;
  bottom: 30px !important;
  display: block;
  right: 30px;
  height: 64px;
  padding: 0;
  margin: 0;
  @extend .clearfix;
  list-style: none;

  @media screen and (max-width: $screen-sm-min - 1) {

    bottom: 9px !important;
    display: block;
    right: 0 !important;
    height: 40px;
    left: 0 !important;
    text-align: center;

  }

  .footer-action {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 15px;
    width: 51px;
    float: left;
    position: relative;
    background: none;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.35);
    border-radius: 5px !important;

    @media screen and (max-width: $screen-sm-min - 1) {
      width: 25px;
      float: none;

    }

    &--skype {

    }
    &--to-top {

    }
    &--facebook {
      @media screen and (max-width: $screen-sm-min - 1) {

        width: 51px !important;
        bottom: -9px;
        height: 40px;
        position: relative;
      }

    }
    > .info {
      background: #fff;
      font-size: 12px;
      position: absolute;
      bottom: 0;
      left: -20px;
      text-align: center;
      display: block;
      right: -20px;
      padding: 8px;
      visibility: hidden;
      opacity: 0;
      z-index: 999;
      line-height: 16px;
      transition: all .4s;
      &:before {
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &:hover {
      > .info {
        bottom: 90px;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.mastfooter {

  position: relative;
  margin-top: 80px;
  background: linear-gradient(to bottom right, #f72359, #964399);
  overflow: hidden;
  min-height: 100vh;
  min-height: 100%;
  z-index: 1;

  @media screen and (max-width: $screen-sm-min - 1) {

    margin-top: 0px;
  }

  .edge {
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    display: block;
    height: 150px;
    position: absolute;
    top: -75px;
    left: -5%;
    right: -5%;
    z-index: 102;
  }

  .bubble {
    width: 1500px;
    height: 250px;
    position: absolute;
    border-radius: 150px;
    background: $color-1;
    display: block;
    z-index: 20;
    &.bubble-1 {
      transform: rotate(45deg);
      left: -45%;
      top: -60%;
    }
    &.bubble-2 {
      transform: rotate(-45deg);
      left: 70%;
      top: -10%;

    }
  }

  .contact {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 80px 0 0px 0;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 30;

    position: relative;

    h1 {
      margin-bottom: 60px;
      color: #ffffff;
      font-weight: 300;
      i {
        display: block;
        text-align: center;
        margin-bottom: 40px;
        font-size: 60px;
        margin-top: 20px;
      }

      @media screen and (max-width: $screen-sm-min - 1) {
        margin-bottom: 15px;

        i {
          margin-bottom: 10px;
          margin-top: 10px;
          font-size: 40px;
        }
      }
    }
  }
  .contact-details {

    position: relative;
    z-index: 101;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 100 !important;

    @media screen and (max-width: $screen-sm-min - 1) {
      font-size: 16px;
      margin-top: 60px;
      .contact-email {
        display: none;
      }
    }

      > span, a {
      display: inline-block;
      max-width: 50%;
      color: #fff;
      margin: 30px 30px 40px 30px;
      cursor: pointer;

      @media screen and (max-width: $screen-sm-min - 1) {
        max-width: 100%;
        margin: 0 0 60px 0;
      }
      span {
        display: block;
        font-size: 16px;
        @media screen and (max-width: $screen-sm-min - 1) {
          font-size: 14px;
          small {
            display: block;
          }
        }
        }
    }

    i {
      font-size: 40px;
      color: #fff;
      font-weight: 100 !important;
      display: block;

      @media screen and (max-width: $screen-sm-min - 1) {
        font-size: 30px;
      }
    }

  }

  form {
    position: relative;
    top: 00px;
    display: none;
    margin-bottom: 40px;
  }
}