.header {

  text-align: center;
  background: #fff;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.45);
  z-index: 201;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0 5px 0;

  @include media-breakpoint-up(lg) {
    text-align: left;
    position: relative;
    box-shadow: none;
    background: none;
    padding-top: 0;

  }

  &__container {
    @extend .container-fluid;
    @extend .clearfix;
    position: relative;

    @include media-breakpoint-down(md) {
      padding: 0 15px;
    }
  }

  &__brand {

    position: relative;
    display: block;
    text-align: left;
    z-index: 2001;
    height: 37px;
    width: 174px;

    @include media-breakpoint-up(lg) {
      margin-left: 15%;
      margin-top: 40px;
      float: left;
      position: relative;
      z-index: 101;
      width: 300px;
      height: 64px;
    }

    @include media-breakpoint-up(xl) {

      max-width: 100%;
      height: auto;
    }

  }
}