.home__slide {
  position: relative;
  padding: 100px 30px 0 30px;
  text-align: center;
  background: $gradient-1;
  min-height: 100vh;
  height: 100%;
  max-width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 100px 30px 0 30px;

    .button {
      margin-top: 45px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 0 0 0;
    text-align: left;
    background: #fff;
    min-height: 0;
    padding-bottom: 100px;
    height: auto;
  }

  &__title {
    text-transform: none;
    display: block;
    margin: 0 0 15px 0;
    letter-spacing: 2px;

    color: #fff;
    font-size: 22px;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      margin: 60px 0 0 0;
      letter-spacing: 5px;

      color: #964399;

    }

    span {
      display: inline-block;
      position: relative;
      margin-bottom: 10px;
      @include media-breakpoint-down(sm) {
        left: 0% !important;
        right: 0;
        top: 0;
        bottom: 0;
        margin-bottom: 20px;

        &:first-of-type {
          left: 0% !important;
          right: 0;
          top: 0;
          bottom: 0;
        }

        &:last-of-type {
          left: 0% !important;
          right: 0;
          top: 0;
          bottom: 0;
        }

      }
      @include media-breakpoint-up(lg) {
        left: 31%;
        margin-bottom: 40px;

        &:first-of-type {
          left: 25.8%;
        }

        &:last-of-type {
          left: 35.3%;
        }
      }
    }
  }
  &__content {
    position: relative;
    color: #fff;
    margin: 0 0 10px 0;
    font-size: 13px;
    @include media-breakpoint-down(sm) {
      opacity:1 !important;
    }
      @include media-breakpoint-up(lg) {
      color: $color-text;
      left: 38.5%;
      letter-spacing: 0.025em;
      font-size: 18px;
      max-width: 40%;
    }

    a {
      display: inline-block;
      margin-top: 20px;
      color: #fff;

      @include media-breakpoint-up(lg) {
        margin-top: 50px;
        color: $color-text;

      }
    }
  }

  &__image {

    display: block;
    width: 1500px;
    height: 500px;
    position: absolute;
    border-radius: 500px;
    background: $color-1;
    overflow: hidden;
    transform: rotate(45deg);
    left: -50%;
    top: -35%;

    > div {
      width: 160%;
      height: 280%;
      transform: rotate(-45deg);
      background: url(../images/clock-bg.jpg) center no-repeat;
      background-size: cover;
      position: absolute;
      top: auto;
      left: auto;
      bottom: -55%;
      right: 10%;
      display: block;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      width: 110%;
      height: 100%;
      position: absolute;
      border-radius: 0px;
      background: none;
      overflow: hidden;
      transform: rotate(0deg);
      left: 0 !important;
      top: 0 !important;
      margin-left: -5%;
      margin-right: -5%;
      background: $gradient-3;

      > div {
        width: 500%;
        height: 100%;
        background: url(../images/clock-bg.jpg) center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: -92%;
        bottom: 0;
        right: 0;
        display: block;
        transform:  rotate(0deg) translate(0%, 0%) !important;
        opacity: 0.15;

      }

    }

    @include media-breakpoint-up(lg) {
      left: -95%;
      top: -35%;
    }
    @media (min-width: 1200px) {
      left: -76%;
      top: -35%;
    }
    @media (min-width: 1300px) {
      left: -66%;
      top: -35%;
    }
    @media (min-width: 1550px) {
      left: -55%;
      top: -35%;

    }

    @media (min-width: 1650px) {
      left: -38%;
      top: -15%;
    }

  }
}