.nav {

  position: fixed;
  height: 100vh;
  max-width: 100%;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 2000;

  @include media-breakpoint-up(lg) {
    float: right;
    position: relative;
    top: 0;
    height: auto;
    min-height: 0;
    width: auto;
    left: 0;
    right: 0;
    z-index: auto;
    background: none;
  }

  &__mobile-trigger {
    width: 30px;
    height: 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 4001;
    @include media-breakpoint-up(lg) {
      display: none;

    }

    &__line {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: $gradient-1;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 8px;
      }

      &:nth-child(4) {
        top: 16px;
      }

    }
  }

  &__links {
    background: $gradient-2;
    padding: 20% 0 0 0;
    min-height: 100vh;
    list-style: none;
    text-align: center;
    opacity:0;

    @include media-breakpoint-up(lg) {
      text-align: right;
      margin: 0;
      background: none;
      opacity:1;
      min-height: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
      color: #fff;
      display: block;
      font-size: 18px;
      font-weight: 300;
      line-height: 50px;

      @include media-breakpoint-up(lg) {
        text-align: right;
        line-height: 60px;
        color: #1a1a1a;
        display: block;
        font-size: 16px;
      }

    }

    &__link, li {
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline-block;
      }

      &:last-child {

        @include media-breakpoint-up(lg) {
          background: $gradient-1;
          border: none;
          color: white !important;
          letter-spacing: 1.2px;
          cursor: pointer;
          outline: none;
          overflow: hidden;
          display: inline-block;
          width: 80px;
          height: 80px;
          position: relative;
          padding: 0;
          top: 32px;
          border-radius: 100%;
          line-height: 80px;
          text-decoration: none;
          -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

          span {
            position: relative;
          }
          &::before {
            --size: 0;
            content: '';
            position: absolute;
            left: 0;
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle closest-side, #4405f7, transparent) !important;
            transform: translate(-50%, -50%);
            transition: width .2s ease, height .2s ease;
            border-radius: 100px;
            overflow: hidden;
          }
          &:hover {
            color: white !important;
          }
          &:hover::before, &:focus::before {
            --size: 600px;
          }

        }
        a {
          color: white;
          padding: 0;
          text-align: center;
          width: 100%;
          height: 100%;

          span {
            display: block;
            font-size: 30px;
            width: 100%;
            height: 100%;
            line-height: 80px;
          }
        }
      }
    }

    &__active {

    }
  }
}

.nav__mobile-trigger--open {
  top: 0;

  #menu-main-nav {
    opacity: 1;
    li:last-child {

      background: $gradient-3;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      line-height: normal;
      z-index: 2001;
    }


  }
  .nav__mobile-trigger__line {
    background: #fff;

    &:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }

    &:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}

