.portfolio {
  margin: 60px 0 0 0;
  padding: 30px 0 0 0;
  position: relative;

  &__container {
    @extend .container-fluid;
    @media screen and (max-width: $screen-sm-min - 1) {
      padding: 0 30px;
    }

  }

  .edge {
    width: 110%;
    background: #fff;
    transform: rotate(2deg);
    display: block;
    height: 150px;
    position: absolute;
    top: -110px;
    left: -5%;
    right: -5%;
    z-index: -1;
  }

  h1 {
    text-align: center;
    color: $color-1;
    font-size: 22px;
    letter-spacing: 2px;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      letter-spacing: 5px;
    }
  }

  &__lead {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;

    @media screen and (max-width: $screen-sm-min - 1) {
      margin: 20px auto 90px auto;
    }
  }

  &__grid {
    @extend .container;
  }

  &__filter {

    @extend .row;

    &__heading, &__action {
      @extend .col-md-6;

    }

    &__heading {
    }

    &__action {
      text-align: right;
    }

  }

  .grid {
    width: 100%;
    //max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 10rem;

    @media screen and (max-width: $screen-sm-min - 1) {
      padding-bottom: 0px;

    }

    a {
      color: #797979;
    }
  }

  .grid__item {
    display: flex;
    justify-content: center;
    margin: 0 0 10rem 0;
    cursor: pointer;
  }

  .box {
    position: relative;
    margin: 2rem;

    @media screen and (max-width: $screen-sm-min - 1) {
      margin: 0;
    }
  }

  .box__title {
    margin: 0;
    line-height: 1;
    position: absolute;
    z-index: 100;
  }

  .box__title-inner {
    display: block;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    line-height: 1.25;

  }

  .box__title-inner[data-hover] {
    -webkit-text-stroke: 1px $color-1;
    text-stroke: 1px $color-1;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
  }

  .box__title-inner-web[data-hover] {
    -webkit-text-stroke: 1px $color-3;
    text-stroke: 1px $color-3;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
  }

  .box__title-inner-design[data-hover] {
    -webkit-text-stroke: 1px $color-2;
    text-stroke: 1px $color-2;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
  }

  .box__title-inner::before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-stroke: 0;
    text-stroke: 0;
    -webkit-text-fill-color: $color-1;
    text-fill-color: $color-1;
    color: $color-1;
    transition: all 0.3s;
  }

  .box__title-inner-web::before {
    -webkit-text-fill-color: $color-3;
    text-fill-color: $color-3;
    color: $color-3;
  }

  .box__title-inner-design::before {
    -webkit-text-fill-color: $color-2;
    text-fill-color: $color-2;
    color: $color-2;
  }

  .grid__item:hover .box__title-inner::before {
    height: 100%;
    width: 100%;
  }

  .box__text {
    position: absolute;
    top: -3rem;
    font-weight: normal;
    letter-spacing: 0.15rem;
    font-size: 1rem;
    margin: 0.5rem 1rem;
  }

  .overlay__content.scroll-item {
    position: relative;
    display: block;
    border: 6px solid var(--color-text);
    padding: 0.25rem 1.25rem;
    max-height: 50vh;
    z-index: 100000;
    @media screen and (max-width: $screen-sm-min - 1) {
      height: min-content;
      max-height: min-content;
      padding: 0 15px;
      margin: 0;
    }
  }

  .box__text-inner--reverse {
    background: var(--color-text);
    color: var(--color-bg);
  }

  .box__img {
    display: block;
    flex: none;
    margin: 0 auto;
    max-width: 100%;
    filter: grayscale(1);
    transition: filter 0.3s;
    pointer-events: none;
  }

  .grid__item:hover .box__img:not(.box__img--original) {
    filter: grayscale(0);
  }

  .box__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1rem;
    left: -1rem;
    opacity: 0.25;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==);
  }

  .box__deco {
    font-size: 5rem;
    line-height: 1;
    font-weight: bold;
    position: absolute;
    top: -3.5rem;
    left: -2.5rem;
    display: none;
    color: #797979;
  }

  .box__content {
    position: absolute;
    max-width: 195px;
    font-size: 0.9rem;
    text-align: right;
    display: none;
  }

  .box__content strong {
    white-space: nowrap;
  }

  .overlay {
    pointer-events: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    @media screen and (max-width: $screen-sm-min - 1) {

      .btn.btn-primary {
        margin-top: 40px;
      }
    }

  }

  .overlay--open {
    pointer-events: auto;
    z-index: 5000;
    overflow: scroll;
  }

  .overlay__reveal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $gradient-1;
    position: absolute;
    z-index: 200000;
    transform: translate3d(100%, 0, 0);
  }

  .overlay__item {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #ececec;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5vw;
    justify-content: center;
    @media screen and (max-width: $screen-sm-min - 1) {
      overflow: scroll;
      height: auto;
      min-height: 100%;
      display: block;
      text-align: center;
    }
  }

  .overlay__item .box {
    max-width: 600px;
    max-height: 100%;
    margin: 0;
    @media screen and (max-width: $screen-sm-min - 1) {
      margin: 0 0 30px 0;
    }
  }

  .overlay__item .box__title {
    bottom: 0;
    @media screen and (max-width: $screen-sm-min - 1) {
      top: 28px;
      position: relative;
      margin-bottom: 30px;
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .box__img--original {
    max-height: calc(100vh - 10rem);
    filter: none;
  }

  .overlay__close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    opacity: 0;
    font-size: 2em;
  }

  .overlay__close:focus {
    outline: none;
  }

  .overlay__content {
    font-size: 0.81rem;
    line-height: 2em;
    max-width: 50rem;
    margin: 1rem 0 0 10vw;
  }

  @media screen and (min-width: 55em) {
    .grid {
      display: grid;
      align-items: center;
      padding: 2rem 3rem 10rem 3rem;
      grid-row-gap: 2rem;
      grid-template-columns: repeat(3, calc(100% / 3));
    }
    .grid__item {
      margin: 0;
    }
    .box {
      margin: 4rem;
    }
    .box__title {
      top: -1rem;
      right: -2.5rem;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }
    .box__title--straight {
      -webkit-writing-mode: horizontal-tb;
      writing-mode: horizontal-tb;
    }
    .box__title--straight .box__title-inner::before {
      width: 0;
      height: auto;
    }
    .box__title--bottom {
      bottom: -3rem;
      top: auto;
    }
    .box__title--left {
      left: -2rem;
      right: auto;
    }
    .box__text--topcloser {
      top: -3rem;
    }
    .box__text--bottom {
      bottom: -3.5rem;
      top: auto;
      left: -2.5em;
    }
    .box__text--bottomcloser {
      bottom: -3rem;
      top: auto;

    }
    .box__text--right {
      right: 0;
      left: auto;
    }
    .box__text-inner--rotated1 {
      transform: rotate(4deg);
    }
    .box__text-inner--rotated2 {
      transform: rotate(-3deg);
    }
    .box__text-inner--rotated3 {
      transform: rotate(-15deg);
    }
    .box__deco {
      display: block;
    }
    .box__deco--left {
      right: auto;
      left: -3rem;
    }
    .box__deco--top {
      top: 0;
      bottom: auto;
    }
    .overlay__item {
      flex-direction: row;
    }
    .overlay__content {
      font-size: 1.25rem;
      margin-top: 0;
      text-align: center;
    }
    .overlay__item .box__title--bottom {
      bottom: 0;
    }
  }

  @media screen and (min-width: 80em) {
    .grid {
      grid-template-columns: repeat(4, 25%);
    }
    .grid__item:nth-child(4n-2) {
      margin-top: -8rem;
      margin-bottom: 8rem;
    }
    .grid__item:nth-child(4n) {
      margin-top: -5rem;
    }
    .box {
      margin: 6rem 4.5rem;
    }
    .box__content {
      display: block;
    }
  }

  @media screen and (max-width: 55em) {
    .content {
      flex-direction: column;
      height: auto;
      min-height: 0;
    }
    .content--fixed {
      position: relative;
      z-index: 10000;
      display: block;
      padding: 0.85em;
    }
    .info {
      margin: 0;
    }
  }

}
