.services {

  margin: 0;
  padding: 80px 0 0 0;
  position: relative;

  &.with-overlay {
    z-index: 1001;
  }

  .edge {

    width: 110%;
    background: #fff;
    transform: rotate(2deg);
    display: block;
    height: 80px;
    position: absolute;
    top: -7px;
    left: -5%;
    right: -5%;
    z-index: -1;

    @include media-breakpoint-up(lg) {
      height: 150px;
      top: -185px;

    }

  }

  .button {
    display: inline-block;
    margin: 60px auto 0px auto;
  }

  h1 {

    @extend .text-center;
    color: $color-1;
    letter-spacing: 2px;
    font-size: 22px;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      letter-spacing: 5px;
    }

  }

  &__container {
    @extend .container-fluid;
    margin-top: -40px;

    @include media-breakpoint-down(md) {
      padding: 0 15px !important;
    }
  }

  &__lead {

    max-width: 600px;
    margin: 40px auto;
    text-align: center;

  }

  &__grid-container {
    @include media-breakpoint-up(lg) {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }
  }

  &__service {

    margin: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $screen-sm-min - 1) {

      margin: 0 0 10px 0;

      h3 {
        margin-bottom: 10px;
      }

    }



    &__inner {
      padding: 20px;
      position: relative;
      background: #fff;

      @media screen and (max-width: $screen-sm-min - 1) {
        padding: 10px;

      }
    }

    @include media-breakpoint-up(lg) {
      -webkit-box-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
    }

    & > * {
      flex: 1 1 100%;
    }

    &__icon {
      font-size: 80px;
      margin: 40px 0;
      display: block;
      @media screen and (max-width: $screen-sm-min - 1) {
        font-size: 60px;
        margin: 10px 0;
      }
      }

    &__link {
      font-weight: bold;

      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }

      span {
        position: relative;
        top: 3px;
        left: 2px;
        transition: all 0.2s ease-in-out;
      }

      &:hover {

        span {
          left: 8px;

        }
      }
    }

    &:hover {

      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);

    }

    &__overlay {

      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-Y: scroll;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;

      &--active {

        position: fixed;
        opacity: 1;
        z-index: 50001;

      }

      &__close {

        text-shadow: none;
        font-size: 28px;
        color: #fff;
        opacity: 1;
        position: absolute;
        top: 30px;
        right: 30px;
        display: inline-block;

        &__icon {

          font-size: 28px;
          color: #fff;
          opacity: 1;
          @extend .ti;
          @extend .ti-close;

        }
      }

      h2 {

        margin-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        color: #fff;

      }

      p {

        padding-left: 60px;
        padding-right: 60px;
        color: #fff;

      }

      &__content {

        background: #fff;
        text-align: left;

        padding: 15px;
        margin: 15px;
        &__inner {

          padding: 15px;

        }

        @include media-breakpoint-up(lg) {
          padding: 60px;
          margin: 60px;
          &__inner {

            padding: 60px;

          }
        }

        p {

          color: #323232;
          padding: 0;

        }

        .row {
          margin: 0;
          > div {
            padding: 0;
          }
        }
      }
    }

    &--first {

      &__icon, &__link {
        color: $color-1;
      }

      &__icon {
        @extend .ti;
        @extend .ti-paint-bucket;
        transition: all 0.2s ease-in-out;
        transform: rotate(-20deg);

      }

      &:hover {
        border: 2px solid $color-1;
        padding: 0px;

        .services__service__icon {
          transform: rotate(2deg) scale(1.35, 1.35);
        }

      }

      &__overlay {
        background: $gradient-1;

        h3 {
          color: $color-1;

        }
      }
    }

    &--second {

      &:hover {
        border: 2px solid $color-2;

        .services__service__icon {
          position: relative;
          transform: translateX(-5px) scale(1.35, 1.35);
        }

      }

      &__icon, &__link {
        color: $color-2;

      }

      &__icon {
        @extend .ti;
        @extend .ti-server;
        transition: all 0.2s ease-in-out;

      }

      &__overlay {
        background: $gradient-2;

        h3 {
          color: $color-2;

        }

      }

    }

    &--third {

      &:hover {
        border: 2px solid $color-3;
        .services__service__icon {
          transform: translateX(-10%) translateY(-15%) scale(1.5, 1.5);
          position: relative;

        }
      }

      &__icon, &__link {
        color: $color-3;

      }

      &__icon {
        @extend .ti;
        @extend .ti-thought;
        transition: all 0.2s ease-in-out;

      }

      &__overlay {
        background: $gradient-3;

        h3 {
          color: $color-3;
        }
      }
    }
  }
}

