.testimonials {
  margin: 80px 0 0 0;
  padding: 160px 0;
  background: $gradient-1;
  position: relative;

  @media screen and (max-width: $screen-sm-min - 1) {

    margin: 30px 0 0 0;
    padding: 60px 0 30px 0;
  }

  .edge {
    width: 110%;
    background: #fff;
    transform: rotate(-2deg);
    display: block;
    height: 150px;
    position: absolute;
    top: -110px;
    left: -5%;
    right: -5%;
    z-index: -1;

  }

  .button {
    margin-top: 80px;

    @media screen and (max-width: $screen-sm-min - 1) {

      margin-top: 40px;
    }
    }

  &__container {

    @extend .container-fluid;

    @include media-breakpoint-down(md) {
      padding: 0 30px !important;
    }

    @media screen and (max-width: $screen-sm-min - 1) {
      padding: 0 10px !important;

    }
  }

  h1 {
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
      letter-spacing: 5px;
    }
  }

  &__lead {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    color: #fff;
    display: block;
  }

  &__slider {
    //max-height: 472px;
    margin-top: 90px;

    @media screen and (max-width: $screen-sm-min - 1) {
      margin-top: 30px;

      .slick-arrow {
        display: none !important;
      }

    }
  }

  &__testimonial {

    &__avatar__wrap {

    }

    &__avatar {
      text-align: center;
      position: relative;
      z-index: 101;

      img {
        width: 180px !important;
        height: 180px !important;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        margin: 0px auto 0px auto;
      }

    }

    &__text__wrap {

    }

    &__text {
      font-style: normal;
      text-align: center;
      padding: 90px 60px 60px 60px;
      background: #f5f5f5;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      position: relative;
      max-width: 1040px;
      margin: -60px auto 1.2rem auto;

      @media screen and (max-width: $screen-sm-min - 1) {
        padding: 15px 15px 15px 15px;

        margin: 0px auto 1.2rem auto;
      }

      & > span {
        position: relative;
      }

      &:before {
        border-top: 8px solid #f5f5f5;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -8px;
        content: "";
        height: 0;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        width: 0;
      }

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        & > span {
          font-size: 18px;
          position: relative;
        }
      }

    }

    &__author {
      text-align: center;
      margin-top: 30px;
      font-weight: 400;
      font-size: 1.1em;
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      color: #fff;
    }

    &__company {
      text-align: center;
      font-size: 12px;
      color: #fff;
      opacity: 0.5;
    }

  }
}