html, body {
  background: #fff;
  font-family: $font-primary;
  font-size: $font-size;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.25s ease;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  width: 100%;
  font-weight: 300;
  line-height: 1.8em;
  opacity: 1;
  overflow-x: hidden;
  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }

  &.no-scroll, &.preview-open {
    overflow: hidden !important;
  }

}

body.loading {
  opacity: 0;
}

.container-fluid {
  padding: 0 80px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 30px;
}

p {
  margin-bottom: 30px;
}

a {
  color: $color-highlight;
  &:hover {
    text-decoration: none;
  }
}

.button {
  position: relative;
  background: $gradient-2 !important;
  padding: 0 30px;
  line-height: 60px;
  border: none;
  color: white !important;
  letter-spacing: 1.2px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  border-radius: 100px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  @include media-breakpoint-up(lg) {
    padding: 0 60px;
    line-height: 80px;
  }

  &--purple {
    background: $gradient-1 !important;
  }

  span {
    position: relative;
  }
  &::before {
    --size: 0;
    content: '';
    position: absolute;
    left: 0;
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #4405f7, transparent) !important;
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
    border-radius: 100px;
    overflow: hidden;
  }
  &:hover {
    color: white !important;
  }
  &:hover::before, &:focus::before {
    --size: 600px;
  }
}

//
//.scroll-top {
//  position: fixed;
//  z-index: 1001;
//  display: block;
//  width: 50px;
//  height: 50px;
//  line-height: 50px;
//  background: $color-1;
//  color: #fff;
//  text-align: center;
//  bottom: 30px;
//
//  right: 30px;
//  //opacity: 0;
//  span {
//    display: block;
//    width: 50px;
//    height: 50px;
//    line-height: 50px;
//    color: #fff;
//
//  }
//  &.active {
//    opacity: 1;
//  }
//
//}


.hidden {
  display: none;
}