// Breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1400px;
$screen-xxl-min: 1700px;

// Font
// Fonts
$font-primary: 'Comfortaa', sans-serif;
$font-secondary: serif;
$font-size: 17px;
$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 18px;

// Colors

$color-1: #964399;
$color-2: #06beb6;
$color-3: #005C97;
$color-4: #964399;
$color-text: #323232;
$color-highlight: #797979;
$color-background: #eeeeee;
$color-border: #e5e5e5;
$color-error: #f44336;
$color-warning: #ffc107;
$color-notice: #2196f3;
$color-success: #4caf50;

$grey: #eeeeee;

// Gradients
$gradient-1: linear-gradient(to bottom right, #C6426E, #642B73);
$gradient-2: linear-gradient(to bottom right, #48b1bf, #06beb6);
$gradient-3: linear-gradient(to bottom right, #005C97, #363795);
