/*!
 * Copyright (c). 2016. WordPressGeek. All rights reserved.
 */

.slider {
	opacity: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2006;
	.slider-container {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.slick-slide {
		cursor: grab;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
	@media screen and (max-width: 992px) {
		margin-top: 20px;
		margin-bottom: 40px;
		.overlay {
			position: relative;
			background: none;
			width: 100%;
		}
	}
}