/*!
 * Copyright (c). 2016. WordPressGeek. All rights reserved.
 */

.single-project {
	.wrap {
		padding-top: 0;
		padding-bottom: 0;
	}
	article {
		header {
			position: relative;
			.project-title {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				padding: 120px 0 40px 0;
				font-weight: 900;
				background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
				background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.80) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
				z-index: 102;
				color: #fff;
				font-size: 4rem;
				margin: 0;

			}
		}
	}
	.project-content {
		h2,h3,h4 {
			font-weight: 900;
			font-size: 2rem;
			margin-top: 0;
			margin-bottom: 40px;
			text-align: center;
		}
	}
	.gallery-row {
		margin-bottom: 30px;
	}

	.project-section {

		padding-top: 80px;
		padding-bottom: 80px;
		&.alt {
			background: $light-bg-color;
		}
	}
}