/*!
 * Copyright (c). 2016. WordPressGeek. All rights reserved.
 */


.project-single-featured {
	padding-top:    0;
	padding-bottom: 0;
	position: relative;
	overflow: hidden;
	background: #f9f9f9;
	.section-title {

		padding:0;

		h3 {
			&:before,&:after {
				display: none;
			}
		}

	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
	}

	.content {
		padding: 100px 0 100px 80px;
	}

	@media (max-width:992px) {
		.content {
			padding: 100px 0 100px 15px;
		}
	}

	h4 {
		margin-bottom: 30px;

		& + p {
			margin-bottom: 50px;
		}
	}

	span.lnr {
		font-size: 20px;
		color: #c4c4c4;
		display: inline-block;margin-bottom: 15px;
	}

	h5 {
		margin-bottom: 25px;
	}
}