/*!
 * Copyright (c). 2016. WordPressGeek. All rights reserved.
 */

.post-type-archive-project {
	article.type-project {
		margin-top: 85px;
		position: relative;
		a {
			display: block;

			header {
				position: absolute;
				bottom: -45px;
				left: 10%;
				right: 10%;
				z-index: 101;
				background: #fff;
				padding: 10px 25px;
				@extend .clearfix;
				transition: all 0.5s;

			}
			i {
				float: left;
				font-size: 3em;
				margin-right: 25px;
				font-style: normal;
				font-weight: 900;
				line-height: 70px;
				color: darken($text-color, 10%);
			}
			.project-title {
				font-weight: 900;
				font-size: 1.4rem;
				margin: 0;
				text-transform: uppercase;
				line-height: 70px;

			}
			&:hover {
				header {
					bottom: -10px;
				}
			}
		}
	}
}