.webintro {
	position: relative;
	height: 100vh;
	height: 100%;
	padding-left: 100px;
	padding-right: 100px;
	z-index: 2000;
	//background: url("../images/large-home-slide.jpg") no-repeat center;
	background-size: cover;
	overflow: hidden;
	.logo {
		margin-top: 30px;
		font-size: 2.4rem;
	}
	h2 {
		text-align: right;
		font-size: 2rem;
		font-weight: 900;
		margin-top: 36px;
		margin-bottom: 0;
		strong {
			font-weight: 900;
		}
		span {
			color: $brand-primary;
		}
	}
	.intro-content {
		position: absolute;
		top: 100px;
		left: 100px;
		right: 100px;
		bottom: 100px;
		z-index: 2001;
		cursor: hand;
	}
	.intro_image {
		width: 100%;
		max-width: 100%;
		height: auto;
		display: block;
		z-index: 2003;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	.mouse {
		display: inline-block;
		position: absolute;
		bottom: 25px;
		left: 50%;
		margin-left: -26px;

	}

}