.craftribe-logo--solid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  height: 37px;
  width: 174px;

  path {
    fill: url("#MyGradient");
    fill-opacity: 1;
  }

  &--white {

    path {
      fill: #fff;
      fill-opacity: 1;
    }
  }


  @include media-breakpoint-up(lg) {
    width: 300px;
    height: 64px;
  }
}