.lazylinepainter {
  max-width: 100%;
  height: 37px;
  width: 174px;
  @include media-breakpoint-up(lg) {
    width: 300px;
    height: 64px;
  }
}

#craftribe-logo--outline {
  position: absolute !important;
  height: 37px;
  width: 174px;
  z-index: 301;
  top: 0;
  left: 0;
  right: 0;
  @include media-breakpoint-up(lg) {
    width: 300px;
    height: 64px;
  }
}